# Virtual Environment
.venv/
venv/
env/
ENV/

# Python package build directories
*.egg-info/
*.egg-info/
dist/
build/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution files
*.whl
*.tar.gz

# Logs
*.log

# Config files
*.cfg

# ignore pickle files
*.pkl

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store

